<!-- Título centrado -->
<h1 class="text-center" style="margin-top: 30px; margin-bottom: 20px;">Productos</h1>

<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="d-flex flex-wrap justify-content-center gap-3">
      @for (servicio of serviciosPaginados; track servicio.id) {
        <app-card
          [price]="servicio.precio"
          [stock]="servicio.stock"
          [name]="servicio.nombre"
          [description]="servicio.descripcion"
          [img]="servicio.imagen || 'assets/default-image.jpg'">
        </app-card>
      }
    </div>

    <!-- Contenedor de paginación centrado -->
    <div class="pagination d-flex justify-content-center mt-4">
      <button (click)="prevPage()"
              [disabled]="currentPage === 1"
              class="btn btn-primary me-2">
        Anterior
      </button>

      <span class="fs-5 fw-bold mx-3">Página {{ currentPage }} de {{ totalPages() }}</span>

      <button (click)="nextPage()"
              [disabled]="currentPage === totalPages()"
              class="btn btn-primary ms-2">
        Siguiente
      </button>
    </div>

  </div>
</div>

