<!-- Título centrado -->
<h2 class="text-center mt-5 mb-4">Productos</h2>

<div class="row justify-content-center mt-5 mb-5">
  <div class="col-md-10">
    <div class="d-flex flex-wrap justify-content-center gap-5">
      @for (servicio of serviciosPaginados; track servicio.id) {
        <app-card
          [price]="servicio.precio"
          [stock]="servicio.stock"
          [name]="servicio.nombre"
          [description]="servicio.descripcion"
          [img]="servicio.imagen == ''?'https://picsum.photos/600/600':servicio.imagen!">
        </app-card>
      }
    </div>

    <!-- Contenedor de paginación centrado -->
    <div class="pagination d-flex justify-content-center mt-5">
      <button (click)="prevPage()"
              [disabled]="currentPage === 1"
              class="btn btn-primary me-2">
        Anterior
      </button>

      <span class="fs-5 fw-bold mx-3">Página {{ currentPage }} de {{ totalPages() }}</span>

      <button (click)="nextPage()"
              [disabled]="currentPage === totalPages()"
              class="btn btn-primary ms-2">
        Siguiente
      </button>
    </div>
  </div>
</div>