.carousel-item {
  padding: 40px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: auto;
  right: auto;
  width: 40px;
  height: 40px;
  background-color: #343a40; /*COLOR*/
  border-radius: 50%;
}

.carousel-control-prev {
  left: -50px; 
}

.carousel-control-next {
  right: -50px;
}
