<h2 class="text-center mt-4 mb-4">Gestión de Citas</h2>

<div class="input-group mb-3">
  <input (input)="updateSearchTerm($event)" class="form-control" placeholder="Buscar por Nombre" type="text"/>
  <button (click)="searchByButton()" class="btn btn-primary">Buscar</button>
</div>

<div class="mb-3">
  <label class="form-label" for="sortType">Ordenar por:</label>
  <select (change)="updateSortOrder($event)" class="form-select" id="sortType">
    <option value="name">Nombre (A-Z)</option>
    <option value="dateSoon">Fecha más nueva</option>
    <option value="dateLate">Fecha más vieja</option>
    <option value="pay">Pagado</option>
    <option value="noPay">No Pagado</option>
  </select>
</div>
<div class="table-responsive shadow-sm rounded-3">
  <table class="table table-bordered table-hover table-striped text-center align-middle">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Precio</th>
        <th>Pagado</th>
        <th>Cliente</th>
        <th>Trabajador</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @if (filteredServicios.length === 0) {
        <tr>
          <td colspan="7" class="text-center text-muted">No se encontraron resultados.</td>
        </tr>
      }

      @for (cita of filteredServicios; track $index) {
        <tr class="table-row">
          <td><strong>{{ cita.id }}</strong></td>
          <td>{{ cita.fecha }}</td>
          <td>{{ cita.precio }} €</td>
          <td>
            <span class="badge rounded-pill 
              {{ cita.pagado ? 'bg-success text-light' : 'bg-secondary text-dark' }}">
              {{ cita.pagado ? 'Sí' : 'No' }}
            </span>
          </td>
          <td>{{ cita.cliente.nombre }} {{ cita.cliente.apellidos }}</td>
          <td>{{ cita.trabajador.nombre }}</td>
          <td>
            <button class="btn btn-outline-danger btn-sm" (click)="eliminarCita(cita.id!)">
              <i class="bi bi-trash3"></i> Eliminar
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>


