<div class="container-fluid py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5">
      <h2 class="text-center mb-4">Alicia Estetica</h2>

      <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm" action="" class="w-70">
        <div class="mb-3">
          <label class="form-label text-dark" for="nombre">Nombre</label>
          <input class="form-control" formControlName="nombre" id="nombre" name="nombre" placeholder="Nombre" required
                 required type="text"/>
        </div>

        <div class="mb-3">
          <label class="form-label text-dark" for="apellidos">Apellidos</label>
          <input class="form-control" formControlName="apellidos" id="apellidos" name="apellidos"
                 placeholder="Apellidos" required
                 required type="text"/>
        </div>

        <div class="mb-3">
          <label class="form-label text-dark" for="correo">Correo electrónico</label>
          <input class="form-control" formControlName="email" id="correo" name="correo" placeholder="Correo electrónico"
                 required
                 required type="email"/>
        </div>

        <div class="mb-3">
          <label class="form-label text-dark" for="dni">DNI</label>
          <input class="form-control" formControlName="dni" id="dni" name="dni" placeholder="DNI" required
                 required type="text"/>
        </div>

        <div class="mb-3">
          <label class="form-label text-dark" for="contraseña">Contraseña</label>
          <input class="form-control" formControlName="contraseña" id="contraseña" name="contraseña"
                 placeholder="Contraseña"
                 required
                 type="password"/>
        </div>

        <div class="mb-3 text-center">
          <button class="btn btn-dark w-100" type="submit">Enviar</button>
        </div>
      </form>

      <div class="mt-4 text-center">
        <a class="btn btn-link text-dark" href="inicio_sesion">¿Ya tienes cuenta? Inicia sesión</a><br>
      </div>
    </div>
  </div>
</div>
