<article class="container-fluid">
  <!-- Título centrado -->
  <h1 class="text-center my-5">Productos</h1>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="d-flex flex-wrap justify-content-center gap-5">
        @for (servicio of serviciosPaginados; track servicio.id) {
          <app-card class="col-3"
            [price]="servicio.precio"
            [stock]="servicio.stock"
            [name]="servicio.nombre"
            [description]="servicio.descripcion"
            [img]="servicio.imagen || 'assets/default-image.jpg'">
          </app-card>
        }
      </div>

      <!-- Contenedor de paginación centrado -->
      <div class="pagination d-flex justify-content-center mt-4">
        <button class="btn btn-outline-dark me-2"
                (click)="prevPage()"
                [disabled]="currentPage === 1">
          Anterior
        </button>

        <span class="fs-5 fw-bold mx-3">Página {{ currentPage }} de {{ totalPages() }}</span>

        <button class="btn btn-outline-dark ms-2"
                (click)="nextPage()"
                [disabled]="currentPage === totalPages()">
          Siguiente
        </button>
      </div>

    </div>
  </div>
</article>
