<!-- Título centrado -->
<h1 class="text-center mt-5 mb-4">Productos</h1>

<div class="text-center mb-4">
  <button (click)="abrirFormulario()" class="btn btn-success" data-bs-target="#productoModal" data-bs-toggle="modal">
    Agregar Producto
  </button>
</div>

<!-- Modal para agregar productos -->
<div aria-hidden="true" aria-labelledby="productoModalLabel" class="modal fade" id="productoModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productoModalLabel">Nuevo Producto o Servicio</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="agregarProducto()" [formGroup]="productoForm">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input class="form-control" formControlName="nombre" required type="text">
          </div>
          <div class="mb-3">
            <label class="form-label">Descripción</label>
            <input class="form-control" formControlName="descripcion" required type="text">
          </div>
          <div class="mb-3">
            <label class="form-label">Precio</label>
            <input class="form-control" formControlName="precio" required type="number">
          </div>
          <div class="mb-3">
            <label class="form-label">Stock</label>
            <input class="form-control" formControlName="stock" required type="number">
          </div>
          <div class="form-check">
            <label class="form-check-label" for="servicioCheck">
              Es un servicio?
            </label>
            <input class="form-check-input" formControlName="servicio" type="checkbox" value="" id="servicioCheck" (change)="changedServicio()">
          </div>
          <div class="mb-3">
            <label class="form-label">Imagen URL</label>
            <input class="form-control" formControlName="imagen" type="text">
          </div>
          <div class="d-flex justify-content-between">
            <button [disabled]="productoForm.invalid" class="btn btn-primary" type="submit">Guardar</button>
            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="d-flex flex-wrap justify-content-center gap-3">
      @for (servicio of serviciosPaginados; track servicio.id) {
        <app-card-producto
          [price]="servicio.precio"
          [stock]="servicio.stock ?? 0"
          [name]="servicio.nombre"
          [description]="servicio.descripcion"
          [img]="servicio.imagen == ''?'https://picsum.photos/600/600':servicio.imagen!">
          (deleteProduct)="servicio.id ? eliminarProducto(servicio.id) : null">
        </app-card-producto>
      }
    </div>

    <!-- Contenedor de paginación centrado -->
    <div class="pagination d-flex justify-content-center mt-4">
      <button (click)="prevPage()" [disabled]="currentPage === 1" class="btn btn-primary me-2">
        Anterior
      </button>

      <span class="fs-5 fw-bold mx-3">Página {{ currentPage }} de {{ totalPages() }}</span>

      <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="btn btn-primary ms-2">
        Siguiente
      </button>
    </div>
  </div>
</div>
