<a href="inicio">
  <img alt="Logo" src="/img/logo.png" style="width: 400px; height: 250px;">
</a>

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container">
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link question-link fs-6" href="inicio">Inicio</a></li>
        <li class="nav-item"><a class="nav-link question-link fs-6" href="centro">Centro</a></li>
        <li class="nav-item"><a class="nav-link question-link fs-6" href="tienda">Tienda</a></li>
        <li class="nav-item"><a class="nav-link question-link fs-6" href="reserva">Reserva</a></li>
        <li class="nav-item"><a class="nav-link question-link fs-6" href="contacto">Contacto</a></li>
        @if (userStartSesion) {
          <li class="nav-item">
            <a class="nav-link question-link px-3 py-1 d-flex align-items-center fs-4" href="mi_perfil"
               style="border-radius: 5px; font-weight: bold; gap: 8px;">
              <i class="bi bi-person-circle"></i>
            </a>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link question-link btn btn-outline-light" href="inicio_sesion"
               style="border-radius: 5px; font-weight: bold;">
              Iniciar Sesión
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>

<div style="text-align: center;">
  <a class="btn fs-3 arrow" href="#startPage">
    <i class="bi bi-arrow-down"></i>
  </a>
</div>
