<a href="inicio" style="z-index: 15px;">
  <img alt="Logo" src="/img/logo.png" style="width: 400px; height: 250px;">
</a>

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container">
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link question-link" href="inicio">Inicio</a></li>
        <li class="nav-item"><a class="nav-link question-link" href="centro">Centro</a></li>
        <li class="nav-item"><a class="nav-link question-link" href="tienda">Tienda</a></li>
        <li class="nav-item"><a class="nav-link question-link" href="reserva">Reserva</a></li>
        <li class="nav-item"><a class="nav-link question-link" href="contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>

<style>

  .nav-link {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .nav-link:hover {
    color: #BFA78A;
    transform: scale(1.2);
  }

  .navbar-toggler {
    border: none;
    background: transparent;
  }

</style>
