<a href="inicio">
  <img alt="Logo" src="/img/logo.png" style="width: 400px; height: 250px;">
</a>

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container">
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link question-link" href="inicio">Inicio</a></li>
        <li class="nav-item"><a class="nav-link question-link" href="centro">Centro</a></li>
        <li class="nav-item"><a class="nav-link question-link" href="tienda">Tienda</a></li>
        <li class="nav-item"><a class="nav-link question-link" href="reserva">Reserva</a></li>
        <li class="nav-item"><a class="nav-link question-link" href="contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>

<div style="text-align: center;">
  <a href="#startPage" class="btn fs-3 arrow">
    <i class="bi bi-arrow-down"></i>
  </a>
</div>
