body {
    background-color: #e7dfdf;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}

/*CARDS*/

.card {
    background: #ffffff;
    border: 1px solid rgba(206, 206, 206, 0.5); 
    border-radius: 10px;
    text-align: center;  
    padding: 20px;       
    height: 100%;        
  
    box-shadow: 0 4px 16px rgba(31, 38, 135, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(31, 38, 135, 0.4);
  }
  
  .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  /*BUTTON*/

  button.btn.btn-primary {
    background-color: #343a40;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  button.btn.btn-primary:hover {
    background-color: #1d2124;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  