<div class="profile-container">
  <h2>Mi Perfil</h2>

  <div class="profile-info">
    @if (user) {
      <p><strong>Nombre:</strong> {{ user.nombre }}</p>
      <p><strong>Apellidos:</strong> {{ user.apellidos }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>DNI:</strong> {{ user.dni }}</p>
    } @else {
      <p>Cargando perfil...</p>
    }
  </div>


</div>


<h1>Mis citas:</h1>
<br>
<div class="appointments-container">
  <table>
    <thead>
    <tr>
      <th>Servicio</th>
      <th>Fecha</th>
      <th>Pagado?</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
      @if (citas?.length === 0) {
        <tr>
          <td colspan="6">No tienes citas programadas.</td>
        </tr>
      }
      @for (cita of citas; track $index) {
        <tr>
          <td>{{cita.servicio.nombre}}</td>
          <td>{{ cita.fecha }}</td>
          <td>{{ cita.pagado ? 'Sí' : 'No' }}</td>
          <td>
            <button class="cancel-btn" (click)="cancelCita(cita.id!)">Cancelar</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
