<div class="card shadow border-0 bg-transparent">
    <img src="/img/tratamientos_faciales.jpg" class="card-img-top" alt="Tratamientos faciales">
    <div class="card-body">
        <h5 class="card-title">Tratamientos faciales</h5>
        <p>45,50$</p>
        <p>Stock: Cantidad</p>
        
        <section class="d-flex justify-content-between mt-3">
            <button class="btn btn-dark btn-sm d-flex align-items-center gap-2">
                <i class="bi bi-pencil-square"></i> Editar
            </button>
            <button class="btn btn-danger btn-sm d-flex align-items-center gap-2">
                <i class="bi bi-trash"></i> Eliminar
            </button>
        </section>
    </div>
</div>
