<article class="container-fluid p-0">
  <section class="px-5">
    <h2 class="text-center mt-5 mb-4 display-4">Sobre Nuestro Centro</h2>

    <div class="row justify-content-center">

      <div class="col-12 col-md-8 col-lg-8 d-flex justify-content-center align-items-center">
        <p class="text-center lead">¿Buscas una clínica de estética profesional en Catarroja? ¡Has llegado al lugar
          indicado!
          En nuestra clínica, ofrecemos tratamientos personalizados para realzar tu belleza y cuidar tu piel con la
          última tecnología en estética avanzada.</p>
      </div>

      <div class="col-12 d-flex justify-content-center align-items-center p-2">
        <img alt="Imagen de nuestro centro" class="img-fluid rounded shadow" src="/img/imagen1_centro.jpeg"
             style="height: 600px; object-fit: cover;">
      </div>

      <div class="col-12 col-md-8 col-lg-8 d-flex justify-content-center align-items-center my-5">
        <p class="lead">En nuestra clínica, ofrecemos tratamientos personalizados que combinan las últimas innovaciones
          en estética
          avanzada. Nuestro objetivo es que te sientas mejor que nunca, realzando tu belleza natural.</p>
      </div>

      <div class="col-12 col-md-8 col-lg-8 d-flex flex-column align-items-center mb-5">
        <h3 class="text-center mb-3 display-5">Tu Clínica de Estética en Catarroja</h3>
        <p class="lead">En nuestra clínica, ofrecemos una amplia gama de tratamientos de estética, diseñados para
          atender tus
          necesidades de cuidado facial, corporal y bienestar general. Desde tratamientos faciales rejuvenecedores hasta
          masajes relajantes, pasando por técnicas de adelgazamiento, cada uno de nuestros servicios está pensado para
          que te sientas renovado y radiante. Nos enorgullece contar con un equipo de expertas en estética,
          comprometidas con tu bienestar y belleza. Ya sea que busques mejorar tu piel, adelgazar o simplemente
          relajarte, en nuestra clínica encontrarás el tratamiento ideal para ti.</p>
      </div>

      <div class="col-12 col-md-8 col-lg-8 d-flex flex-column align-items-center mb-5">
        <img alt="imagen sala laser" class="w-100 mb-5 rounded shadow" src="/img/laser.jpeg"
             style="height: auto; max-height: 400px; object-fit: cover;">
        <h3 class="text-center mb-3 display-5">Depilación Láser en Catarroja</h3>
        <p class="lead">La depilación láser es uno de los tratamientos más demandados en nuestra clínica. Si buscas una
          solución
          definitiva y eficaz para eliminar el vello no deseado, con nuestros equipos de última tecnología garantizamos
          resultados perfectos y duraderos. <br> El proceso de depilación es cómodo, seguro y muy eficaz, eliminando el
          vello desde la raíz para que disfrutes de una piel suave y libre de vello durante mucho más tiempo.</p>
      </div>

      <div class="col-12 col-md-8 col-lg-8 d-flex flex-column align-items-center mb-5">
        <img alt="imagen de la puerta del centro" class="w-100 mb-5 rounded shadow" src="/img/puerta.jpeg"
             style="height: auto; max-height: 400px; object-fit: cover;">
        <h3 class="text-center mb-3 display-5">Visítanos en Catarroja</h3>
        <p class="lead">Si buscas una clínica de estética confiable en Catarroja, no busques más. Estamos aquí para
          brindarte el
          mejor servicio de estética, con tratamientos que te ayudarán a sentirte bien por dentro y por fuera.<br> Ven y
          conoce nuestro centro. En nuestra clínica de estética, estamos comprometidos con tu belleza y bienestar. ¡Te
          esperamos con los brazos abiertos!</p>
      </div>

    </div>
  </section>
</article>
