<h1 class="text-center my-4">NUESTRO CENTRO</h1>
<p class="text-center my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus praesentium officiis inventore iusto nemo 
<br>at dolore nulla corporis est nostrum qui dicta sapiente, ducimus neque doloribus natus ullam facere necessitatibus?</p>

<img src="hall" alt="hall">
<p>Este es el hall donde atendemos a nuestros clientes.</p>
<br>
<img src="salaLaser" alt="sala del laser">
<p>Aqui tenemos el laser</p>
<br>
<img src="sala1" alt="sala1">
<p>Esta es nuestra primera sala</p>
<br>
<img src="sala2" alt="sala2">
<p>Esta es nuestra segunda sala</p>