<section class="container-fluid my-5">

    <div class="row d-flex justify-content-center">
        
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4"> 
            <div class="card h-100 shadow border-0 bg-transparent">
                <img src="/img/tratamientos_faciales.jpg" class="card-img-top" alt="Sobre mí">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-white">Tratamientos faciales</h5>
                    <p>45,50$</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 offset-lg-1"> 
            <div class="card h-100 shadow border-0 bg-transparent">
                <img src="/img/tratamientos_faciales.jpg" class="card-img-top" alt="Sobre mí">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-white">Tratamientos faciales</h5>
                    <p>45,50$</p>
                </div>
            </div>
        </div>

        
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 offset-lg-1"> 
            <div class="card h-100 shadow border-0 bg-transparent">
                <img src="/img/tratamientos_faciales.jpg" class="card-img-top" alt="Sobre mí">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-white">Tratamientos faciales</h5>
                    <p>45,50$</p>
                </div>
            </div>
        </div>
        
    </div>
    
</section>