<div class="card shadow border-0 bg-transparent">
    <img src="/img/tratamientos_faciales.jpg" class="card-img-top" alt="Tratamientos faciales">
    <div class="card-body">
        <h5 class="card-title">Tratamientos faciales</h5>
        <!-- <h5 class="card-title"> {{nombre}} </h5> -->
        <p>45,50$</p>
        <!-- <p> {{precio}} </p> -->
    </div>
</div>

<div class="card shadow border-0 bg-transparent" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Producto de la tienda">
    <div class="card-body">
      <h4 class="card-title">{{name}}</h4>
      <p class="card-text">{{description}}</p>
      <p class="card-text">{{price}}</p>
      <p class="card-text">Stock de la tienda: {{price}}</p>
    </div>
  </div>