<article>
    <section class="ratio ratio-16x9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3082.799526434065!2d-0.4065968239221565!3d39.40604131653205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604e833fdf3abd%3A0x300b1368a96ac1c8!2sAlicia%20Est%C3%A9tica!5e0!3m2!1ses!2ses!4v1739269712988!5m2!1ses!2ses" 
            style="border:0; width: 100%; height: 100%;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </section>

    <section class="col-12 pe-5 ps-5 mt-5" style="padding-right: 20px;">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="row">
                    <div class="col-6 text-center">
                        <h3 class="mb-2">Horario</h3>
                        <p class="mb-2">9:30 - 13:00</p>
                        <p>15:30 - 20:00</p>
                    </div>
    
                    <div class="col-6 text-center">
                        <h3 class="mb-2">Contacto</h3>
                        <p class="mb-2">Teléfono: 93 300 31 20</p>
                        <p>Correo: info&#64;lidiasanchez.com</p>
                    </div>
                </div>
    
                <div class="row mt-5">
                    <div class="col-12 col-md-6 text-center">
                        <h3 class="mb-2">Ubicación</h3>
                        <p class="text-truncate mb-2">Carrer Almeria, 6,<br>46470 Catarroja, Valencia</p>
                        <a class="btn btn-link p-0" style="text-decoration: none;" href="https://www.google.com/maps/place/Alicia+Est%C3%A9tica/@39.406037,-0.404022,16z/data=!4m6!3m5!1s0xd604e833fdf3abd:0x300b1368a96ac1c8!8m2!3d39.4060372!4d-0.4040219!16s%2Fg%2F1tp30qfr?hl=es&entry=ttu&g_ep=EgoyMDI1MDIwOS4wIKXMDSoASAFQAw%3D%3D">Cómo ir</a>
                    </div>
    
                    <div class="col-6 text-center">
                        <h3>Redes Sociales</h3>
                        <div class="d-flex justify-content-center">
                            <p class="bi bi-twitter mx-2" style="font-size: 2rem;"></p>
                            <p class="bi bi-instagram mx-2" style="font-size: 2rem;"></p>
                        </div>
                        <p>¡Síguenos!</p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-12 col-lg-6">
                <h5 class="mb-3">Escríbenos</h5>
                <form action="">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="nombre">Nombre*</label>
                            <input id="nombre" type="text" name="nombre" class="form-control" />
                        </div>
                        <div class="col-6 mb-3">
                            <label for="apellido">Apellido*</label>
                            <input id="apellido" type="text" name="apellido" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="telefono">Teléfono de contacto*</label>
                            <input id="telefono" type="text" name="telefono" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label for="correo">Correo de contacto*</label>
                            <input id="correo" type="email" name="correo" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="mensaje">Mensaje*</label>
                            <textarea id="mensaje" name="mensaje" rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <input type="submit" value="Enviar" class="btn btn-warning" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</article>
