<article class="container">

  <h2 id="startPage" class="text-center mt-5">Texto de prueba</h2>

  <section class="col-12 text-center mt-5">
    <div class="row justify-content-center">
      <div (click)="click_servicios()" class="col-md-4 servicio">
        <i class="bi bi-briefcase"></i>
        <p>Servicios</p>
      </div>
      <div (click)="click_productos()" class="col-md-4 servicio">
        <i class="bi bi-box-seam"></i>
        <p>Productos</p>
      </div>
    </div>
  </section>

  @if (servicios_productos == "servicios") {
    <div class="row justify-content-center">
      @for (servicio of array_servicos.slice(0, 3); track servicio) {
        <div class="col-md-4 d-flex justify-content-center">
          <app-card [name]="servicio.nombre" [price]="servicio.precio"></app-card>
        </div>
      }
    </div>
  }

  @if (servicios_productos == "productos") {
    <div class="row justify-content-center">
      @for (producto of array_productos.slice(0, 3); track producto) {
        <div class="col-md-4 d-flex justify-content-center">
          <app-card [name]="producto.nombre" [stock]="producto.stock"></app-card>
        </div>
      }
    </div>
  }

  <div class="jumbotron rounded d-flex align-items-center justify-content-center">
    <a class="btn-reserva" href="reserva">Reservar</a>
  </div>
  

  <app-carousel [opiniones]="opiniones"></app-carousel>

  @if (user !== null) {
  <div class="d-flex justify-content-center">
    @if (show === true) {
    <button type="button" class="btn btn-primary" (click)="showForm()">Ocultar formulario</button>
    } @else {
    <button type="button" class="btn btn-primary" (click)="showForm()">Añadir una opinion</button>
    }
  </div>
  } @else {
  <div class="d-flex flex-column align-items-center">
    <button type="button" class="btn btn-primary" disabled>
      Añadir una opinion
    </button>
    <p class="mt-2 text-muted">Inicia sesión para añadir una opinion</p>
  </div>
  }


  @if (show === true) {
    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <form action="" (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
          <div class="mb-3 mt-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title" placeholder="Introduzca un título" name="title"
                   formControlName="titulo">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="description" placeholder="Introduzca una descripción"
                   name="description" formControlName="descripcion">
          </div>
          <div class="mb-3">
            <label for="puntuacion" class="form-label">Puntuación</label>
            <select id="puntuacion" class="form-select" name="puntuacion" formControlName="valoracion">
              <option value="" disabled selected>Seleccione una puntuación</option>
              <option value="1">⭐️</option>
              <option value="2">⭐️⭐️</option>
              <option value="3">⭐️⭐️⭐️</option>
              <option value="4">⭐️⭐️⭐️⭐️</option>
              <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary w-100">Enviar</button>
        </form>
      </div>
    </div>
  }
</article>
