    <article>
  
        <h2 class="text-center mt-5">Texto de prueba</h2>
  
        <section class="col-12 text-center mt-5">
            <div class="row justify-content-center">
                <div class="col-md-4 servicio" (click)="click_servicios()">
                    <i class="bi bi-briefcase"></i>
                    <p>Servicios</p>
                </div>
                <div class="col-md-4 servicio" (click)="click_productos()">
                    <i class="bi bi-box-seam"></i>
                    <p>Productos</p>
                </div>
            </div>
        </section>
  
        @if (servicios_productos == "servicios") {
            <p>estas servicios</p>
            @for (servicio of array_servicos; track servicio) {
                <app-card [servicio]="servicio.nombre" [stock]="servicio.nombre" [precio]="servicio.precio"></app-card>
            }
            
        }

        @if (servicios_productos == "productos") {
            <p>estas productos</p>
            @for (producto of array_productos; track producto) {
                <app-card [servicio]="producto.nombre" [stock]="producto.nombre" [precio]="producto.precio"></app-card>
            }
        }

  
        <app-carousel></app-carousel>
        
    </article>
  

  