<div class="container-fluid px-0">
  <div class="d-flex justify-content-between align-items-center px-3">
    <!-- Logo alineado a la izquierda -->
    <a href="inicio" style="z-index: 15;">
      <img alt="Logo" src="/img/logo.png" style="width: 100px; height: auto;">
    </a>

    <!-- Menú de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <!-- Botón del menú hamburguesa -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú de navegación -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link question-link" href="inicio">Inicio</a></li>
            <li class="nav-item"><a class="nav-link question-link" href="centro">Centro</a></li>
            <li class="nav-item"><a class="nav-link question-link" href="tienda">Tienda</a></li>
            <li class="nav-item"><a class="nav-link question-link" href="reserva">Reserva</a></li>
            <li class="nav-item"><a class="nav-link question-link" href="contacto">Contacto</a></li>

            @if (userStartSesion === true) {
              <li class="nav-item">
                <a class="nav-link question-link" href="mi_perfil">
                  <img src="/img/avatar.png" alt="avatar" style="width: 40px; border-radius: 50%;">
                </a>
              </li>
            } @else {
            <li class="nav-item">
              <a class="nav-link question-link btn btn-outline-light px-3 py-1" href="inicio_sesion"
                style="border-radius: 5px; font-weight: bold;">
                Iniciar Sesión
              </a>
            </li>
            }
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
