<div style="width: 100vw;">
  <div class="d-flex justify-content-between align-items-center ms-3">
    <a href="inicio" class="justify-content-start">
      <img src="/img/logo.png" alt="Logo" style="width: 100px; height: auto;">
    </a>

    <nav class="navbar navbar-expand-lg navbar-dark me-3">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link question-link" href="inicio">Inicio</a></li>
            <li class="nav-item"><a class="nav-link question-link" href="centro">Centro</a></li>
            <li class="nav-item"><a class="nav-link question-link" href="tienda">Tienda</a></li>
            <li class="nav-item"><a class="nav-link question-link" href="reserva">Reserva</a></li>
            <li class="nav-item"><a class="nav-link question-link" href="contacto">Contacto</a></li>
            @if (userStartSesion) {
              <li class="nav-item">
                <a class="nav-link question-link px-3 py-1 d-flex align-items-center" href="inicio_sesion" style="border-radius: 5px; font-weight: bold; gap: 8px;">
                  <i class="bi bi-person-circle"></i>
                </a>
              </li>
            } @else {
              <li class="nav-item">
                <a class="nav-link question-link btn btn-outline-light" href="inicio_sesion" style="border-radius: 5px; font-weight: bold; border: 1px solid white;">
                  Iniciar Sesión
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
