.nav-link {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    color: #BFA78A;
    transform: scale(1.2); 
}

.navbar-toggler {
    border: none;
    background: transparent;
}
