<div style="width: 100vw;">
  <div class="d-flex justify-content-between align-items-center ms-3">
    <a class="justify-content-start" href="inicio" style="z-index: 15px;">
      <img alt="Logo" src="/img/logo.png" style="width: 100px; height: auto;">
    </a>

    <nav class="navbar navbar-expand-lg navbar-dark me-3">
      <div class="container">
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link question-link" href="inicio">Inicio</a></li>
            <li class="nav-item"><a class="nav-link question-link" href="centro">Centro</a></li>
            <li class="nav-item"><a class="nav-link question-link" href="tienda">Tienda</a></li>
            <li class="nav-item"><a class="nav-link question-link" href="reserva">Reserva</a></li>
            <li class="nav-item"><a class="nav-link question-link" href="contacto">Contacto</a></li>

            <!--<li class="nav-item"><a class="nav-link question-link" href="mi_perfil">Perfil</a></li>-->

            @if (userStartSesion === true) {
            <li class="nav-item"><a class="nav-link question-link" href="mi_perfil"><img src="/img/avatar.png"
                  alt="avatar" style="width: 40px;"></a>
            </li>
            } @else {
            <li class="nav-item">
              <a class="nav-link question-link btn btn-outline-light px-3 py-1" href="inicio_sesion"
                style="border-radius: 5px; font-weight: bold;">
                Iniciar Sesión
              </a>
            </li>
            }
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>