{% extends 'base.html.twig' %}

{% block title %}Edit Cita{% endblock %}

{% block body %}
    <h1>Edit Cita</h1>

    {{ include('cita/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cita_index') }}">back to list</a>

    {{ include('cita/_delete_form.html.twig') }}
{% endblock %}
