<div class="card shadow border-0 bg-transparent" style="width: 300px;">
  <img [src]="img" alt="Producto de la tienda" class="card-img-top object-fit-contain" style="height: 180px;">

  <div class="card-body text-center">
    <h5 class="card-title fw-bold text-primary">{{ name }}</h5>
    <p class="card-text text-muted">{{ description }}</p>

    <div class="d-flex justify-content-between align-items-center">
      <span class="fw-bold text-success">{{ price }} €</span>
      <span class="badge text-dark" style="background-color: #c4a98c;">Stock: {{ stock }}</span>
    </div>
    <button (click)="onDelete()" class="btn btn-danger">Eliminar</button>
  </div>
</div>
